<form action="/stores/<%= @store.id %>/beers/<%= @beer.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <%= token_tag %>
  <input type="text" name="beer[name]" value="<%= @beer %>">
  <input type="submit">
</form>
